{% extends "base.html" %}

{% block  title %}
    {{Categorys.cate_name}}
{% endblock  %}

{% block  content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3" style="background-color: #fff;border: 1px solid #aeaeae;margin: 0 15px;">
                <h4>Danh mục bài viết</h4>
                {% for cat in Categorys %}
                    <section class="post">
                            <h3><a class="post-title"
                                href="{% url 'ViewCategory' cat.id %}">
                                {{ cat.cate_name }}
                            </a></h3>
                    </section>
                {% endfor %}   
            </div>
            <div class="col-sm-8">
                {% for blog in get_post_categorys %}
                    {% if blog.cat_id  %}
                        <div class="row" style="border: 1px solid #aeaeae;border-radius: 2px; margin:0px 0px 5px 0px">
                            <div class="col-sm-4">
                                <img src="{{blog.image.url}}" class="img-thumbnail" width="250px" height="150px">
                            </div>
                            <div class="col-sm-8">
                                <p>Ngày tạo: {{blog.date|date:"d-m-Y"}}</p>
                                <a href="/blog/{{blog.id}}">{{blog.title}}</a>
                                <p>{{blog.body}}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <br/>
                {% if page_obj.has_next %}
                    <a href="{{request.path}}?path={{page_obj.next_page_number}}">Tiếp theo</a>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock  %}