{% extends "base.html" %}

{% block  title %}
    {{post.title}}
{% endblock  %}

{% block  content %}
    <div class="container">
        <p>Ngày tạo: {{post.date|date:"d-m-Y"}}</p>
        <a href="/blog/{{post.pk}}">{{post.title}}</a>
        <br/>
        <img src="{{post.image.url}}" class="img-thumbnail" width="400px" height="250px">
        <p>{{post.body}}</p>
        <br/>
        <br/>
        <br/>
        <br/>
        {% for comment in post.comments.all %}
            <h4>{{comment.author}}</h4>
            <h4>{{comment.date}}</h4>
            <h4>{{comment.body|linebreaks}}</h4>
        {% endfor %}
        {% if user.username %}
            <form method='POST'>
                {% csrf_token %}
                <p><label>Bình luận: </label></p>
                {{form.body}}
                <br/>
                <input type="submit" value="Bình luận"/>
            </form>
        {% else %}
            <a>Bạn cần đăng nhập để có thể bình luận</a>
        {% endif %}
    </div>
{% endblock  %}