{% extends "base.html" %}

<!-- custom template tags django  -->
{% block  title %}
    123
{% endblock  %}

{% block  content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3" style="background-color: #fff;border: 1px solid #aeaeae;margin: 0 15px;">
                <h4>Danh mục bài viết</h4>
                {% for cat in Categorys %}
                    <section class="post">
                            <h3><a class="post-title"
                                href="{% url 'ViewCategory' cat.id %}">
                                {{ cat.cate_name }}
                            </a></h3>
                    </section>
                {% endfor %}   
            </div>
            <div class="col-sm-8">
                {% for blog in contacts %}
                    {% if blog.cat_id  %}
                    <div class="row" style="border: 1px solid #aeaeae;border-radius: 2px; margin:0px 0px 5px 0px">
                        <div class="col-sm-4">
                            <img src="{{blog.image.url}}" class="img-thumbnail" width="250px" height="150px">
                        </div>
                        <div class="col-sm-8">
                            <p>Ngày tạo: {{blog.date|date:"d-m-Y"}}</p>
                            <a href="/blog/{{blog.id}}">{{blog.title}}</a>
                            <p>{{blog.body}}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                <br/>
                {% comment %} {% if page_obj.has_next %}
                    <a href="{{request.path}}?path={{page_obj.next_page_number}}">Tiếp theo</a>
                {% endif %} {% endcomment %}
                {% comment %} {% for contact in contacts %}
                    {{ contact.full_name|upper }}<br />
                {% endfor %} {% endcomment %}

                <div class="pagination">
                    <span class="step-links">
                        {% if contacts.has_previous %}
                            <a href="?page=1">&laquo; đầu tiên</a>
                            <a href="?page={{ contacts.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                        </span>

                        {% if contacts.has_next %}
                            <a href="?page={{ contacts.next_page_number }}">next</a>
                            <a href="?page={{ contacts.paginator.num_pages }}">Cuối cùng &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}