{% extends "base.html" %}

{% block  title %}
    <h4>Tìm kiếm</h4>
{% endblock  %}

{% block  content %}
    <div class="container">
        <h3>Kết quả tìm kiếm</h3>
        {% if blogs %}
            {% for blog in blogs %}
                <a href="{% url 'detailview' pk=blog.pk %}">
                <!--Upon successful search book image with hyperlink appears -->
                <p>{{blog.title}}</p>
                <img src="{{blog.image.url}}" alt="No Image"></a>
            {% endfor %}
        {% else %}
            <h3>Không có kết quả tìm kiếm nào trùng với từ khóa của bạn ! Vui lòng thử lại ! </h3>
        {% endif %}
    </div>
{% endblock  %}