<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" type="text/css">
	<title>{% block  title %}{% endblock  %}</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="background-color: azure">
			<div class="container">
				<div class="col-sm-1 bg-primary">
					<img src="{% static 'image\logo.jpg' %}" style="max-width: 150px;height: 100px;"/>
				</div>
				<div class="col-sm-9">
					<h1>My blog</h1>
				</div>
				<div class="col-sm-2">
					{% if user.username %}
						<p> Xin chào: {{user.username}}</p>
						<a href="{% url 'logout' %}">Đăng xuất</a>
					{% else %}
						<a href="{% url 'register' %}">Đăng ký | </a>
						<a href="{% url 'login' %}">Đăng nhập</a>
					{% endif %}
				</div>
			</div>
        </div>
        <div class="row">
            <nav class="navbar navbar-inverse">
				<div class="container">
					<ul class="nav navbar-nav">
						<li class="{{ ViewDetail_page }}"><a href="{% url 'index' %}">Home</a></li>
						<li class="{{ contact_page }}"><a href="{% url 'contact' %}">Liên hệ</a></li>
						<li class="{{ otherInformation_page }}"><a href="/blog/otherInformation/">Thông tin khác</a></li>
					</ul>
					<div class="col-sm-3 col-md-3 pull-right">
						<form class="navbar-form" role="search" method="GET" name="search_form" action="{% url 'search' %}">
							{% csrf_token %}
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search" name="search">
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</nav>
        </div>
        <div class="row"  style="min-height: 594px;background-color:azure">
			{% block  content %}

			{% endblock  %}
		</div>
		<div class="row bg-danger" style="height:200px">
			<div class="container">
				<div class="col-sm-6">
					<a>footer 1</a>
				</div>
				<div class="col-sm-6">
					<a>footer 2</a>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/npm.js' %}"></script>
</body>
</html>